html,
body {
  height: 100%;
}

.wrapper {
  margin-inline: auto;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1878px;
  padding: 10px;

  display: grid;
  justify-content: center;
}
